*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.background{
    background-image: url(./images/kang-the-conqueror-dark-purple-art-l35yrjmqa0jus08i.webp);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    font-size: 4rem;
}